.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  height: 100px;
  display: inline-block;
}
#social-media-icons {
  color: #020122;
  font-size: 3rem;
  justify-content: space-evenly;
}

.content.has-text-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: block;
}
